Pipfile
Pipfile.lock
env.example
.env
_pycache_/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
.pytest_cache/
.coverage
.coverage.*
.cache
.hypothesis
.pytest_cache
.pytest_cache/*
.pytest_cache/**/*
.pytest_cache/**/**/*
.pytest_cache/**/**/**/*
.pytest_cache/**/**/**/**/*
pytest.ini
tests/