DEBUG_MODE="True"
APP_KEY="a1b2c3d4"
PORT=8000
USE_LOCAL_WORDLIST="False"
REMOTE_WORDLIST="https://ci2-assets.nyc3.digitaloceanspaces.com/wordlist.txt"
LOCAL_QUESTION_WORDLIST="/path/to/questions.txt"
LOCAL_ANSWER_WORDLIST="/path/to/answers.txt"
REMOTE_QUESTION_WORDLIST="https://ci2-assets.nyc3.digitaloceanspaces.com/questions.txt"
REMOTE_ANSWER_WORDLIST="https://ci2-assets.nyc3.digitaloceanspaces.com/answers.txt"
